
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Script/modernizr")
</head>
<body>
    <div class="container">
        <div class="col-md-3">
            @Html.Partial("_Sidebar")
        </div>
        <div class="col-md-9">
            <div class="text-left">
                <img src="~/Images/logocrp.gif" style="width:150px;" />
            </div>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Script/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>